{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<script>sessionStorage.clear()</script>
<h4>Hangman</h4>
<h5 id="desc"></h5>
<a href="./"><button id="backHome"><span>Home</span></button></a>
<table cellspacing="5" id="hangTable"><tr id="wordRow"></tr></table>
<p id="letterFails"></p>
<p id="strikes">Strikes: 7</p>
<table cellspacing="10" id="alphaTable"><tr id="firstHalf"></tr><tr id="secondHalf"></tr></table>
<script>
//Cheater detector
var messageList = ["cheater", "go away", "you shouldn't be here", "you suck", "why don't you inspect some women instead"]
var listNum = 0
var element = ""
var devtoolsOpen = false;
element.__defineGetter__("id", function() {
    devtoolsOpen = true;
    });
setInterval(function() {
    if (listNum < 5) {
    devtoolsOpen = false;
    console.log(messageList[listNum % messageList.length])
    listNum += 1;
    }
}, 1000);

//Lets the window detect keypresses
window.addEventListener("keydown", function (event) {
    var map = {}; // You could also use an array
    if (event.defaultPrevented) {
        return; // Do nothing if the event was already processed
    }
    if (event.keyCode >= 65 && event.keyCode <= 90) {
         letterSelection(event.key);
    }
    // Cancel the default action to avoid it being handled twice
    event.preventDefault();
}, true);


</script>
{% endblock %}
