{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h4>Need help?</h4>
<a href="./"><button id="backHome"><span>Home</span></button></a>
<img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqjMoMH2f44xqAKc2D4OZ3gCXqa8AEfYEYFuHL2EfDVbchCT7A_FDFp-9G__yAdlH1SLU&usqp=CAU" alt="Need Help?" width="240" height="240">
<!--<a id="link" href="https://en.wikipedia.org/wiki/Hangman_(game)">https://en.wikipedia.org/wiki/Hangman_(game)</a> -->
<h5>How To Play:<br>
  1. Select a letter by clicking on its cooresponding box<br>
  2. Correct Letter will appear in the orange boxes and incorrect letters will appear underneath<br>
  3. You have 7 strikes to guess the word, so guess carefully!<br>
  4. Have fun and learn a new word or two!</h5>
{% endblock %}
